extends layouts/main.pug 

block content 
    h1 Hello #{user.firstName}
    div(class="game__container")
        div
            ul
                each dice in dices ? dices : []
                    li= dice.number
            div 
                a(href="/play") Jouer
                a(href="/game") Arrêter
            div
                p #{message}

        div
            h3 Pâtisseries gagnées : #{user.pastriesCount}
            ul(class="patisseries")
                each pastry in user.wonPastries
                    li
                        p=pastry.name
                        img(src='/assets/images/' + pastry.img)