extends layouts/main.pug 

block content 
    h1 Hello 
        span(id="user-name") #{user.firstName}
    div
        p(class="message") #{message}

    div(class="game__container")
        div(id="les-des")
            ul(class="des")
                each dice in dices ? dices : []
                    li
                        span= dice.number
            div(class="play-buttons") 
                if user.pastriesCount < 50
                    a(class="play-button button" href="/play") Jouer
                    a(class="button" href="/game") Arrêter
                else 
                    p(class="text-orange") Vous avez fini le jeu, Bravo !

        div
            h3 Pâtisseries gagnées : #{user.pastriesCount}
            ul(class="patisseries")
                each pastry in user.wonPastries
                    li
                        p=pastry.name
                        img(src='/assets/images/' + pastry.img)